div.notification{
    color:green;
    padding: .5rem;
    margin-bottom: 1rem;
    width:fit-content;
    border:1px solid green;
    border-radius:5px;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px green;       
}
.error{
    color:red;
    padding: .5rem;
    margin-bottom: 1rem;
    width:fit-content;
    border:1px solid red;
    border-radius:5px;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px red; 
}
.empty{
    padding: 1.08rem;
    margin-bottom: 1rem;
    width:fit-content;
    border:1px solid transparent;
}